<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.rainetcom.bezierspadel" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BEZIERS PADEL</name>
    <description>
        Réservez vos terrains, ajoutez-vous à des parties et participez aux animations
    </description>
    <author email="contact@rainetcom.fr" href="http://www.rainetcom.fr">
        Team RainetCom
    </author>
    
</widget>
